extends layout 

include mixins/_fieldCard

block content
  .inner
    .home-hero
      .wrap
        h1.title Find your local Airsoft site
        h2.title Or adventure out somewhere new!
        a.button(href="/fields")
          | Browse sites

    .fields
      each field in fields
        +fieldCard(field)
        
    .view-all
      a.button(href="/fields")
        | View all sites