.tags {
  margin: 0;
  padding: 0;
  list-style: none;
  display: flex;
  margin-bottom: 2rem;
  flex-wrap: wrap;


  .tag {
    display: block;
    margin-right: 1rem;
    margin-bottom: 0.5rem;

    &.tag-choice {
      display: flex;
      justify-content: center;
      align-items: center;

      input {
        width: auto;
        right: -1.5rem;
        margin-right: -1rem;
        position: relative;
        z-index: 2;

        &+label {
          background: $grey;
          padding: 1rem 1rem 1rem 4rem;
        }

        &:checked+label {
          background: $green;
        }
      }
    }

    .tag-link {
      background: $green;
      color: $white;
      display: flex;
      border-radius: 5px;

      .tag-link-active {
        background: lighten($purple, 40%);

        .tag-text {
          color: $white;
        }
      }
    }

    .tag-text {
      padding: 1rem 1rem;
      display: block;
    }
  }
}